@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vladimir University</h1>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Vladimir University</h2>
        <p>Vladimir State University is located in the ancient
         Russian city of Vladimir, which is 180 km from Moscow. 
        The city of Vladimir played an important role in the history
         of Russia and was one of its first capitals. Nowadays Vladimir,
         being a part of the famous Golden Ring of Russia, represents a big 
        administrative, industrial, cultural and tourist center.</p>
        <p><a class="btn btn-default" href="http://www.vlsu.ru/index.php?id=183">For more information click this </a></p>
        </div>

   <div class="col-md-4">
       <h2>Build it from scratch</h2>
       <p>You can visit my repository in sourceforge, find me and ask the 
       questions or say me your mind about my this project which name is ASSSK</p>
       <p><a class="btn btn-default" href="https://sourceforge.net/p/courseprojectasssk/svn/HEAD/tree/">See my project &raquo;</a></p>
   </div>
<div class="col-md-4">
    <h2>Contact me</h2>
    <p>You can find me and
    write to my e-mail your comments and suggestions: skipper_tm@outlook.com.
    The tutorials which i used to is here</p>
    <p><a class="btn btn-default" href="http://msdn.microsoft.com/ASPNET-MVC">Microsoft MSDN</a></p>
</div>
</div>